@{
    ViewData["Title"] = "Home";
}

<div class="flex">
    @Html.Partial("_MenuLateral")

    <div class="flex-1">
        <main class="p-10">
            contenido principal aquí
        </main>
    </div>
</div>

