@{
    ViewData["Title"] = "Producto";
}

<div class="flex h-screen">
    @Html.Partial("_MenuLateral")

    <div class="flex-1 flex flex-col">
        <div class="bg-transparent-800 text-black p-4 flex justify-between items-center">
            <div class="flex">
                <a href="/producto" class="text-xl mr-12 ml-6 font-bold text-gray-700">Productos</a>
                <a href="/categoriaproducto" class="text-xl mr-12 font-bold text-gray-700 opacity-60">Categorías</a>
            </div>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-6 rounded-full">Nuevo Producto</button>
        </div>

        <div class="bg-gray-300 h-px w-full"></div>

        <main class="p-10 flex-1">
            <div class="p-10 flex justify-center items-center">
                <table class="border-collapse border-gray-300 text-gray-454545">
                    <thead>
                        <tr class="text-center font-semibold">
                            <th class="py-2 border-b-2 border-gray-300 px-12">Nombre</th>
                            <th class="py-2 border-b-2 border-gray-300 px-12">Precio</th>
                            <th class="py-2 border-b-2 border-gray-300 px-12">Cantidad</th>
                            <th class="py-2 border-b-2 border-gray-300 px-12">Categoria</th>
                            <th class="py-2 border-b-2 border-gray-300 px-12">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
                                </svg>

                            </th>
                        </tr>
                    </thead>

                    <tbody>
                    </tbody>
                </table>
            </div>
        </main>
    </div>
</div>
