<div class="flex h-screen">
    <div class="w-64 bg-transparent text-gray-700 flex flex-col justify-between relative">
        <div>
            <div class="flex items-center justify-center mt-12 mb-8">
                <img src="~/favicon.ico" alt="logo" class="h-28">
            </div>
            <nav>
                <a href="/mesa" class="flex items-center py-4 px-6 hover:bg-gray-200">
                    <svg data-v-6fc2466e="" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="credit-card-blank" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" width="22" class="svg-inline--fa fa-credit-card-blank">
                        <path data-v-6fc2466e="" fill="currentColor" d="M96 368C96 359.2 103.2 352 112 352H176C184.8 352 192 359.2 192 368C192 376.8 184.8 384 176 384H112C103.2 384 96 376.8 96 368zM224 368C224 359.2 231.2 352 240 352H368C376.8 352 384 359.2 384 368C384 376.8 376.8 384 368 384H240C231.2 384 224 376.8 224 368zM0 96C0 60.65 28.65 32 64 32H512C547.3 32 576 60.65 576 96V416C576 451.3 547.3 480 512 480H64C28.65 480 0 451.3 0 416V96zM32 96V416C32 433.7 46.33 448 64 448H512C529.7 448 544 433.7 544 416V96C544 78.33 529.7 64 512 64H64C46.33 64 32 78.33 32 96z" class=""></path>
                    </svg>
                    <span class="mx-3 font-semibold text-gray-700 opacity-90">ventas</span>
                </a>
                <a href="/producto" class="flex items-center py-4 px-6 hover:bg-gray-200">
                    <svg data-v-6fc2466e="" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="bag-shopping" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" class="svg-inline--fa fa-bag-shopping">
                        <path data-v-6fc2466e="" fill="currentColor" d="M128 128V96C128 42.98 170.1 0 224 0C277 0 320 42.98 320 96V128H400C426.5 128 448 149.5 448 176V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V176C0 149.5 21.49 128 48 128H128zM160 128H288V96C288 60.65 259.3 32 224 32C188.7 32 160 60.65 160 96V128zM48 160C39.16 160 32 167.2 32 176V416C32 451.3 60.65 480 96 480H352C387.3 480 416 451.3 416 416V176C416 167.2 408.8 160 400 160H320V240C320 248.8 312.8 256 304 256C295.2 256 288 248.8 288 240V160H160V240C160 248.8 152.8 256 144 256C135.2 256 128 248.8 128 240V160H48z" class=""></path>
                    </svg>
                    <span class="mx-3 font-semibold text-gray-700 opacity-90">productos</span>
                </a>
                <a href="/insumo" class="flex items-center py-4 px-6 hover:bg-gray-200">
                    <svg data-v-6fc2466e="" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="bag-shopping" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" width="20" class="svg-inline--fa fa-bag-shopping">
                        <path data-v-6fc2466e="" fill="currentColor" d="M128 128V96C128 42.98 170.1 0 224 0C277 0 320 42.98 320 96V128H400C426.5 128 448 149.5 448 176V416C448 469 405 512 352 512H96C42.98 512 0 469 0 416V176C0 149.5 21.49 128 48 128H128zM160 128H288V96C288 60.65 259.3 32 224 32C188.7 32 160 60.65 160 96V128zM48 160C39.16 160 32 167.2 32 176V416C32 451.3 60.65 480 96 480H352C387.3 480 416 451.3 416 416V176C416 167.2 408.8 160 400 160H320V240C320 248.8 312.8 256 304 256C295.2 256 288 248.8 288 240V160H160V240C160 248.8 152.8 256 144 256C135.2 256 128 248.8 128 240V160H48z" class=""></path>
                    </svg>
                    <span class="mx-3 font-semibold text-gray-700 opacity-90">insumos</span>
                </a>
                <a href="" class="flex items-center py-4 px-6 hover:bg-gray-200">
                    <svg data-v-6fc2466e="" aria-hidden="true" focusable="false" data-prefix="fal" data-icon="chart-pie-simple" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="22" class="svg-inline--fa fa-chart-pie-simple">
                        <path data-v-6fc2466e="" fill="currentColor" d="M256 17.68C256 8.059 263.4 0 273.1 0C405 0 512 106.1 512 238.9C512 248.6 503.9 256 494.3 256H272C263.2 256 256 248.8 256 240V17.68zM288 224H479.5C472.2 121.6 390.4 39.83 288 32.53V224zM224 288H445.3C463.8 288 478.6 303.7 474.8 321.8C451.9 430.5 355.5 512 240 512C107.5 512 0 404.5 0 272C0 156.5 81.53 60.12 190.2 37.18C208.3 33.36 224 48.2 224 66.7V288zM192 69.56C100.3 91.22 32 173.7 32 272C32 386.9 125.1 480 240 480C338.3 480 420.8 411.7 442.4 320H224C206.3 320 192 305.7 192 288V69.56z" class=""></path>
                    </svg>
                    <span class="mx-3 font-semibold text-gray-700 opacity-90">reportes</span>
                </a>
                <a href="/auditoria" class="flex items-center py-4 px-6 hover:bg-gray-200">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-seam-fill" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M15.528 2.973a.75.75 0 0 1 .472.696v8.662a.75.75 0 0 1-.472.696l-7.25 2.9a.75.75 0 0 1-.557 0l-7.25-2.9A.75.75 0 0 1 0 12.331V3.669a.75.75 0 0 1 .471-.696L7.443.184l.01-.003.268-.108a.75.75 0 0 1 .558 0l.269.108.01.003zM10.404 2 4.25 4.461 1.846 3.5 1 3.839v.4l6.5 2.6v7.922l.5.2.5-.2V6.84l6.5-2.6v-.4l-.846-.339L8 5.961 5.596 5l6.154-2.461z" />
                    </svg>
                    <span class="mx-3 font-semibold text-gray-700 opacity-90">Auditoria</span>
                </a>
            </nav>
        </div>
        <div class="mb-8">
            <button id="dropdownDefaultButton" data-dropdown-toggle="dropdown" class=" ml-6 text-gray-700 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center inline-flex items-center" type="button">
                Usuario <svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4" />
                </svg>
            </button>

            <div id="dropdown" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                <form method="post" asp-controller="Account" asp-action="Logout">
                <ul class="py-2 text-sm text-gray-7000" aria-labelledby="dropdownDefaultButton">
                    <li>
                        <button type="submit" class="block px-4 py-2 hover:bg-gray-100">Cerrar sesion</button>
                    </li>
                    @Html.AntiForgeryToken()
                </ul>
                </form>
            </div>
        </div>
        <div class="absolute h-full right-0 top-0 bg-gray-300 w-px"></div>
    </div>
</div>