@{
    ViewData["Title"] = "Insumo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="flex h-screen">
    @Html.Partial("_MenuLateral")

    <div class="flex-1 flex flex-col">
        <div class="bg-transparent-800 text-black p-4 flex justify-between items-center">
            <div class="flex">
                <a href="/insumo" class="text-xl mr-12 ml-6 font-bold text-gray-700">Insumos</a>
                <a href="/categoriainsumo" class="text-xl mr-12 font-bold text-gray-700 opacity-60">Categorías</a>
            </div>
            <button class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-6 rounded-full">Nuevo Insumo</button>
        </div>

        <div class="bg-gray-300 h-px w-full"></div>

        <main class="p-10 flex-1">
            <a>Vista de Insumo</a>








        </main>
    </div>
</div>

